body{
    background-color:rgb(255, 255, 255);
    margin: 5%;
}
ul{
    list-style-type:none;
    padding: 0px;
    background-color: dodgerblue;
    overflow: hidden;
}
li{
    /* float: left; */
    border-right:1px solid black ;
    display: inline-block;
    margin-left: -4px;
}
nav{
    text-align: center;
}
li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color:whitesmoke;
}
li a:hover{
    background-color: darkcyan;
}
#left{
    border-left: 1px solid black;
}